server {
    listen {{ nginx_port }} default_server;
    listen [::]:{{ nginx_port }} default_server ipv6only=on;

    root /usr/share/nginx/html;
    index index.php index.html index.htm;

    server_name localhost;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php5.6-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}